streamlit
python-dotenv
# chromadb  <-- Removed to save space/time since we use local JSON store now
sentence-transformers
notion-client
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pdfplumber
python-docx
requests
groq
loguru
numpy
torch
